!!! html

/ = DON'T change this file! You should be able to complete this challenge by changing the CSS file only.

%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %title The Awesome Company
    %link{rel: "stylesheet", href: "bower_components/normalize-css/normalize.css" }
    %link{rel: "stylesheet", href: "main.css"}

  %body
    %div.container
      %header
        %span
          %a{href: "#"} Awesome Company
        %nav
          %ul
            %li
              %a{href: "#"} Home
            %li
              %a{href: "#"} About
            %li
              %a{href: "#"} Services
            %li
              %a{href: "#"} Contact
      %section
        %h1 A Page Title

        %section
          %h2 A Paragraph

          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit, tellus ornare mollis rhoncus, risus dui tincidunt nisl, nec vulputate sapien neque at tellus. Aenean in ornare nisl, sed porta dui.
          %p Nunc sit amet arcu id ligula commodo consequat vel a lorem. Proin auctor, purus in dictum efficitur, mauris purus dictum augue, vitae laoreet ante nunc in sapien. Maecenas consectetur egestas euismod.

        %section
          %h2 A Paragraph

          %p Donec faucibus sodales lectus, quis dictum ligula aliquet sit amet. Nam sodales nibh quis quam dictum sollicitudin. Nullam ut est euismod, hendrerit tellus et, euismod turpis.
          %p Nunc sit amet arcu id ligula commodo consequat vel a lorem. Proin auctor, purus in dictum efficitur, mauris purus dictum augue, vitae laoreet ante nunc in sapien. Maecenas consectetur egestas euismod.

        %section
          %h2 A Paragraph

          %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas non mauris ac erat consequat rhoncus. Mauris nec sapien luctus, rutrum leo sit amet, pretium elit.

        %footer
          %p Copyright &copy; 2013 Awesome Company LLC.
