.container {
  margin: 0 auto;
  width: 100%;
  float: left;
}

header {
  background: #000;
  float: left;
  width: 100%;
}

header a {
  color: #fff;
}

header span {
  width: 50%;
  float: left;
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px 0px;
}

header span a {
  text-decoration: none;
  margin-left: 20px;
}

header nav {
  width: 50%;
  float: right;
}

header nav ul {
  float: right;
  margin: 10px 20px;
}

header nav ul li {
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 7px;
}

.container > section {
  width: 50%;
  margin: auto;
  margin-top: 80px;
}

section h1 {
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

footer {
  border-top: 1px solid black;
}

p {
  font-size: .9em;
}

