.container {
  margin: 0 auto;
}

/*Put your code here*/
header, header a {
	background-color: black;
	display: block;
	color: #FFFFFF;
	padding: 4px;
}
	header span a {
		text-decoration: none;
		font-size: 34px;
		font-style: bold;
		padding-left: 25px;
		padding-right: 25px;	
		font-weight: 500;
	}

nav {
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 0px 25px;
}
	nav a {
		font-size: 20px;
	    font-weight: 100;
	}
	nav ul {
		list-style-type:none;
	}
		nav ul li {
		float:left;
		padding: 0px 1px;
		margin: 0px 2px;
		}
		nav ul li:hover > ul {
			display: block;
			position: absolute;
		}
		nav ul ul { 
			display:none; 
		}

nav ul ul {
	background: #FFFFFF; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 0px 10px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}


section {
	margin: 0 auto;
	width: 50%;
}

section section {
		width: auto;
}

h1 {
	border-bottom: solid lightgray;
	border-width: 2px;
}

footer {
	border-top: solid darkgray;
	border-width: 3px;
}


 